#jinja2: lstrip_blocks: True
collector:
  {{ appoptics_collector_plugins[0]["plugin_name"] }}:
    all:
    {% for key, value in appoptics_collector_plugins[0]["config"].items() %}
      {{ key }}: {{ value }}
    {% endfor %}
{% if appoptics_collector_plugins[0]["load"] is defined %}
load:
{% for key, value in appoptics_collector_plugins[0]["load"].items() %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}
