#jinja2: lstrip_blocks: True
---
# {{ ansible_managed }}

{% if appoptics_log_level | length %}
log_level: {{ appoptics_log_level }}
{% endif %}
log_path: {{ appoptics_log_path }}
log_format: {{ appoptics_log_format }}

control:
  auto_discover_path: {{ appoptics_auto_discover_path }}
  plugin_trust_level: {{ appoptics_plugin_trust_level }}
  {% if appoptics_tls_cert_path | length
     and appoptics_tls_key_path | length
     and appoptics_tls_key_path | length %}
  tls_cert_path: {{ appoptics_tls_cert_path }}
  tls_key_path: {{ appoptics_tls_key_path }}
  {% endif %}
  {% if appoptics_plugin_tls_cert_path | length %}
  plugin_tls_cert_path: {{ appoptics_plugin_tls_cert_path }}
  {% endif %}
  {% if appoptics_plugin_tls_key_path | length %}
  plugin_tls_key_path: {{ appoptics_plugin_tls_key_path }}
  {% endif %}
  {% if appoptics_ca_cert_paths | length %}
  ca_cert_paths: /tmp/small-setup-ca.crt:/tmp/medium-setup-ca.crt:/tmp/ca-certs/
  {% endif %}
  plugin_load_timeout: {{ appoptics_plugin_load_timeout }}
  listen_addr: {{ appoptics_listen_address }}
  listen_port: {{ appoptics_listen_port }}
  temp_dir_path: {{ appoptics_temp_dir_path }}
  temp_dir_enable: {{ appoptics_temp_dir_enable | lower }}
  plugin_path: {{ appoptics_plugin_path }}
  task_path: {{ appoptics_task_path }}

  plugins:
    include: {{ appoptics_plugins_include }}
    publisher:
      publisher-appoptics:
        all:
          url: {{ appoptics_url }}
          token: {{ appoptics_token }}
          {% if appoptics_hostname_alias | length %}
          hostname_alias: {{ appoptics_hostname_alias }}
          {% endif %}
          {% if appoptics_proxy_url | length %}
          proxy_url: {{ appoptics_proxy_url }}
          {% endif %}
          {% if appoptics_proxy_user | length %}
          proxy_user: {{ appoptics_proxy_user }}
          {% endif %}
          {% if appoptics_proxy_password | length %}
          proxy_password: {{ appoptics_proxy_password }}
          {% endif %}
          {% if appoptics_ec2_check_timeout | length %}
          ec2_check_timeout: {{ appoptics_ec2_check_timeout }}
          {% endif %}
      publisher-processes:
        all:
          url: {{ appoptics_token }}
          token: {{ appoptics_url }}

  {% if appoptics_global_tags is defined and appoptics_global_tags is mapping and appoptics_global_tags | length %}
  tags:
    /:
  {% for key, value in appoptics_global_tags.items() %}
      {{ key }}: {{ value }}
  {% endfor %}
  {% endif %}

{% if appoptics_rest_api_enable %}
restapi:
  enable: {{ appoptics_rest_api_enable | lower }}
  {% if appoptics_rest_api_https %}
  https: {{ appoptics_rest_api_https | lower }}
  {% endif %}
  {% if appoptics_rest_api_rest_auth %}
  rest_auth: {{ appoptics_rest_api_rest_auth | lower }}
  {% endif %}
  {% if appoptics_rest_api_rest_auth_password | length %}
  rest_auth_password: {{ appoptics_rest_api_rest_auth_password }}
  {% endif %}
  {% if appoptics_rest_api_rest_certificate | length  %}
  rest_certificate: {{ appoptics_rest_api_rest_certificate }}
  {% endif %}
  {% if appoptics_rest_api_rest_key | length  %}
  rest_key: {{ appoptics_rest_api_rest_key }}
  {% endif %}
  {% if appoptics_rest_api_rest_port is defined %}
  port: {{ appoptics_rest_api_rest_port }}
  {% endif %}
{% endif %}